<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="FirstSampleProject.Runer_Listener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="FirstSampleProject.Guru99"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
