<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="AdactinHotelApp_Report.HotelReport"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestRunner.TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
