<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="TestReports.Myreport"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="TestCase.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
